// These colors are specific to the theme. Do not use in a package!
@very-light-gray: #f5a4a4;
@light-gray: #a25d5d;
@gray: #824848;
@dark-gray: #2c0000;//borde y seleccopnes
@very-dark-gray: #220000;;//fondo
@cyan: #ab2c0a;
@blue: #8a2f0d;
@purple: #ff5400;
@green: #ff3300;//pestaña seleccionada
@red: #dd3b18;//letra marcada
@orange: #cf6217;
@light-orange: #dd6e27;
