// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #dfacac;
@light-gray: #c28e8e;
@gray: #c96a6a;
@dark-gray: #c70000;
@very-dark-gray: #fb0000;

@cyan: #ab2c0a;
@blue: #8a2f0d;
@purple: #7c1414;
@green: #f93400;
@red: #910a0a;
@orange: #cf6217;
@light-orange: #dd6e27;
